<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class=""create-blog content>
        <label for="title">Blog title: </label>
        <input type="text" id="title" required>
        <label for="snippet">blog snippet</label>
        <input type="text" itemref="snippet" required>
        <label for="body">Blog body :</label>
        <textarea  id="body" required></textarea>
        <button>submit</button>
        </div>
</body>
</html>

